//Tipografia
$fuente_principal: 'Open Sans', sans-serif;
$fuente_titulos: 'PT Sans', sans-serif;
//Dimension de media querys
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//Colores
$negro: #000;
$blanco: #fff;
$rojo: #ff0000;
$verde: #088c00 ;
$naranja: #e96901;

$first-color: hsl(232, 54%, 43%);
$text-color: hsl(232, 8%, 35%);
$white-color: hsl(232, 100%, 99%);
$body-color: hsl(232, 45%, 90%);
$container-color: hsl(232, 54%, 11%);
